{"filter":false,"title":"prepros-6.config","tooltip":"/views/vegefoods/prepros-6.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":540,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":40,"state":"start","mode":"ace/mode/json"}},"timestamp":1587221730479,"hash":"218b0bb8c1091a75bd997480c27f33bc4fbba211"}